body {
  background-color: #F3EEC3;
  height: 550px;

}
header {
  text-align: center;

}

h1 {
  color: #F5F0F6;
  background-color: #385F71;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li {
  display: inline;
  padding: 0px 30px;

}

.bullet-list li {
   display: block;

}

iframe {
  float: right;
  margin: 35px 100px 10px 0px;
  border-style: solid;
  border-width: 15px;
  border-color: #385F71;
}
footer {
  margin: 180px

}
